/*===============================
 CSS STYLESHEET MUSIC HISTORY
=================================*/

.top-nav {
	border: 2px solid black;
	align-self: center;
	margin: 2% 10% 2%;
	background-color: #FFB4B0;
}

.top-nav li {
	display: inline;
}

.top-nav li:nth-child(2) {
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 3px;
}