/*===============================
 CSS STYLESHEET MUSIC HISTORY
=================================*/

/* TOP-NAV STYLES */

.top-nav {
	border: 2px solid black;
	align-self: center;
	margin: 3% 10% 1.5%;
	background-color: #FFB4B0;
}

.top-nav li {
  display: inline;
}

.top-nav li:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 3px;
}

/* MAIN ALL STYLES */

.main {
  margin: 0 10%;
  height: 68vh;
 }

 /* LEFT-NAV STYLES */

.left-nav {
 	border: 2px solid black;
 	background-color: #4DD7FA;
  display: inline-block;
  float: left;
  width: 27%;
  margin-right: 1.5%;
  height: 100%;
}

.left-nav label {
  display: block;
  margin: 7% 5% 2%;
}

#song-length {
  margin: 2% 23.5%;
}

#artist-select,
#album-select {
  width: 10em;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 17%;
}

.genre {
  display: block;
  width: 90%;
  height: 15vh;
  margin: 5% 0 5% 10%;
}

.genre input {
  margin: 0 0.25em 0 0;
}

.check-row-1 {
  display: inline-block;
  width: 35%;
  height: 100%;
}

.check-row-2 {
  display: inline-block;
  width: 55%;
  height: 100%;
}

.check-row-1 label,
.check-row-2 label {
  margin: 0;
  padding: 7px;
}

button {
  margin: 0 27%;
  width: 7em;
  border: 2px solid black;
  border-radius: 5px;
}

/* MAIN BODY STYLES */

.main-body {
  border: 2px solid black;
  background-color: #FEFAC0;
  display: inline-block;
  float: right;
  width: 70%;
  height: 100%;
}

.fav-song {
  margin: 4%;
}

.fav-song h1 {
  font-weight: 100;
  font-size: 1.75em;
  margin: 0.5em 0;
  color: #785616;
}

.fav-song p {
  margin: 0;
}

/* FOOTTER */

footer {
  clear: both;
  margin: 3% 10%;
}

/* Insert media query for all sections to break at max 1074px. */